<section class="wrapper" style="margin-top: 110px;">
    <div class="container mt-5">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 text-center mt-5">
            <form class="rounded bg-white shadow p-5" id="otpForm">
                <h3 class="text-dark fw-bolder fs-4 mb-2">OTP Verification</h3>

                <div class="fw-normal text-muted mb-4">
                    Enter the verification code we sent to

                    <p id="emailDisplay" style="color: rgb(20, 222, 47);"></p>

                </div>

                <div class="d-flex align-items-center justify-content-center fw-bold mb-4">
                    <div class="otp-input text-center">
                        <input type="text" class="form-control otp-field" name="otp1" maxlength="1">
                        <input type="text" class="form-control otp-field" name="otp2" maxlength="1">
                        <input type="text" class="form-control otp-field" name="otp3" maxlength="1">
                        <input type="text" class="form-control otp-field" name="otp4" maxlength="1">
                        <input type="text" class="form-control otp-field" name="otp5" maxlength="1">
                        <input type="text" class="form-control otp-field" name="otp6" maxlength="1">
                    </div>

                </div>
                <p id="otpError" style="color: red;"></p>

                <button type="submit" class="btn btn-primary submit_btn my-4">Submit</button>

             <div>
                <button class="btn" id="btn-resend">Resend</button>
             </div>
            </form>
        </div>
    </div>
</section>


<style>
    .otp-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .otp-field {
        width: 40px;
        height: 40px;
        text-align: center;
        margin: 5px;
    }
</style>




<script>
    const urlEmail = new URLSearchParams(window.location.search);
    const email = urlEmail.get('email');


    const emailDisplay = document.getElementById('emailDisplay');
    emailDisplay.textContent = email;


    document.addEventListener("DOMContentLoaded", function (event) {
        const otpFields = document.querySelectorAll('.otp-field');

        otpFields.forEach((field, index) => {
            field.addEventListener('input', (event) => {
                const inputValue = event.target.value;
                if (inputValue.length === 1) {
                    if (index < otpFields.length - 1) {
                        otpFields[index + 1].focus();
                    } else {

                    }
                }
            });

            field.addEventListener('keydown', (event) => {
                if (event.key === "Backspace" && index > 0 && !field.value) {
                    otpFields[index - 1].focus();
                }
            });
        });


        document.getElementById('otpForm').addEventListener('submit', async (e) => {
            e.preventDefault();


            const otp1 = document.getElementsByName('otp1')[0].value;
            const otp2 = document.getElementsByName('otp2')[0].value;
            const otp3 = document.getElementsByName('otp3')[0].value;
            const otp4 = document.getElementsByName('otp4')[0].value;
            const otp5 = document.getElementsByName('otp5')[0].value;
            const otp6 = document.getElementsByName('otp6')[0].value;


            const otpError = document.getElementById('otpError');

            const otpData = {
                otp1,
                otp2,
                otp3,
                otp4,
                otp5,
                otp6,
            };


            otpError.textContent = '';

            try {
                const send = await fetch('/admin/login/forgotpassword/verifyotp', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(otpData),
                });

                const data = await send.json();
                console.log(data);


                if (data.error) {
                    if (data.error == "Please Enter a valid OTP") {
                        return otpError.textContent = data.error;
                    }
                }

                if (send.ok) {
                    console.log('OTP verification successful.');
                } else {
                    console.error('OTP verification failed.');
                }

                if (data.emailID) {
                    location.assign('verifyotp/newpass');
                }


            } catch (error) {
                console.error('An error occurred while verifying OTP:', error.message);
            }
        })
    });



  document.getElementById('btn-resend').addEventListener('click', async (e) => {
    e.preventDefault();

    try {
        const email = { email: email }; 

        const response = await fetch('/admin/login/forgotpassword/verifyotp/newmail', {
            method: 'POST',
            headers: { 
                'Content-Type': 'application/json', 
            },
            body: JSON.stringify(email),
        });

        if (response.ok) {
            alert('OTP Sent Successfully');
        } else {
            alert('OTP Resend Failed');
        }

    } catch (error) {
        console.log(error);
    }
});

</script>