<div class="card login-form border border-secondary">
  <div class="card-body">
    <h3 class="card-title text-center">Change password</h3>
    <p id="newPass-error" style="color: red; margin-left: 56px;"></p>
    <div class="card-text">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="mt-2">Set Your'e New Password</label>
          <input type="password" class="form-control form-control-sm mt-2" name="firstpassword" id="first-password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Re enter Your'e Password</label>
          <input type="password" class="form-control form-control-sm mt-2" name="secondpassword" id="second-password">
        </div>
        <button type="submit" class="btn btn-primary btn-block submit-btn" style="margin-left: 100px;">Confirm</button>
      </form>
    </div>
  </div>
</div>

<style>
  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
  }

  form {
    padding-top: 10px;
    font-size: 13px;
    margin-top: 30px;
  }

  .card-title {
    font-weight: 300;
  }

  .btn {
    font-size: 13px;
  }

  .login-form {
    width: 320px;
    margin: 20px;
  }

  .sign-up {
    text-align: center;
    padding: 20px 0 0;
  }

  span {
    font-size: 14px;
  }

  .submit-btn {
    margin-top: 20px;
  }
</style>




<script>

  const form = document.querySelector('form');
  const newPassError = document.getElementById('newPass-error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const firstPassword = form.firstpassword.value;
    const secondPassword = form.secondpassword.value;

    newPassError.textContent = '';
    if (firstPassword !== secondPassword) {
      newPassError.textContent = "Passwords don't match";
      return;
    }

    const password = firstPassword;

    try {
      const result = await fetch('/admin/login/forgotpassword/verifyotp/newpass', {
        method: 'POST',
        body: JSON.stringify({ password }),
        headers: { 'Content-Type': 'application/json' }
      });

      const data = await result.json();
      console.log(data);


      if (data.errors) {

      }

      if (data.adminEmail) {
        location.assign('/admin/login');
      }
    } catch (error) {
      console.log(error.message);

    }
  });

</script>