<section>
   <nav class="navbar navbar-expand-lg bg-primary-subtle">
      <div class="container-fluid" style="height: 50px;">
         <a class="navbar-brand" href="">CraftX</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{!-- <form class="d-flex" role="search">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success" type="submit" style="margin-right: 10px;">Search</button>
            </form> --}}
         </div>
      </div>
   </nav>
</section>


<section>
   <div style="width: 800px;">
      <canvas id="acquisitions">
      </canvas>
   </div>
</section>


{{>admin-left-menue}}


<script>
   import Chart from 'chart.js/auto'

   (async function () {
      const data = [
         { year: 2010, count: 10 },
         { year: 2011, count: 20 },
         { year: 2012, count: 15 },
         { year: 2013, count: 25 },
         { year: 2014, count: 22 },
         { year: 2015, count: 30 },
         { year: 2016, count: 28 },
      ];

      new Chart(
         document.getElementById('acquisitions'),
         {
            type: 'bar',
            data: {
               labels: data.map(row => row.year),
               datasets: [
                  {
                     label: 'Acquisitions by year',
                     data: data.map(row => row.count)
                  }
               ]
            }
         }
      );
   })();

</script>


<style>
   .section {
      margin-top: 50px;
      width: 350px;
   }

   a {
      text-decoration: none;
      margin-left: 50px;
   }

   i {
      margin-right: 25px;
   }

   .logout_btn {
      margin-top: 100px;
      margin-left: 120px;
      border: 1px solid black;
      background-color: rgb(231, 126, 126);
   }

   .collapse {
      margin-left: 700px;
      border-radius: 20px;
   }
</style>