{{>admin-navbar}}


<section>

   <div class="container-fluid">
      <div class="row">

         {{>admin-left-menue}}

         <div class="col-md-8 " style="width: 1000px;">

            <section class="category d-flex mt-2">
               <div class="object-fit-contain mt-3" style="width: 100%;">
                  <div class="header d-flex justify-content-between">
                     <h3 class="h3 text-second fw-bold mb-3">DashBoard</h3>
                  </div>

                  <div class="canvas-container">
                     <canvas id="myChart">

                     </canvas>
                  </div>


                  <div class="d-flex mt-3">
                     <div class="card-container">
                        <h4>Orders Today</h4>
                        <div class="card bg-success" style="width: 18rem; height: 3rem;">
                           <div class="card-body">
                              <h4 id="todayOrders" class="smallbox" style="color: white;"></h4>
                           </div>
                        </div>
                     </div>

                     <div class="card-container">
                        <h4 style="margin-left: 30px;">Orders this Month</h4>
                        <div class="card bg-warning" style="width: 18rem; height: 3rem; margin-left: 2rem;">
                           <h4 id="thisMonth" class="smallbox" style="color: white;"></h4>
                        </div>
                     </div>

                     <div class="card-container">
                        <h4 style="margin-left: 30px;">Orders this Year</h4>
                        <div class="card bg-primary" style="width: 18rem; height: 3rem; margin-left: 2rem;">
                           <h4 id="thisYear" class="smallbox" style="color: white;"></h4>
                        </div>
                     </div>
                  </div>
                  <hr>



                  <div class="d-flex mb-4 mt-4">
                     <div class="card bg-success" style="width: 18rem; height: 8rem;">
                        <div class="card-body">
                           <h4>Total Revenue</h4>
                           <h3 id="totalRevenue" style="color: white;"></h3>
                        </div>
                     </div>
                     <div class="card bg-warning" style="width: 18rem; margin-left: 2rem;">
                        <div class="card-body">
                           <h4>Customers</h4>
                           <h3 id="totalCustomers" style="color: white;"></h3>
                        </div>
                     </div>
                     <div class="card bg-primary" style="width: 18rem; margin-left: 2rem;">
                        <div class="card-body">
                           <h4>Total Products</h4>
                           <h3 id="totalProducts" style="color: white;"></h3>
                        </div>
                     </div>
                     <hr>
                  </div>

               </div>
            </section>

            <h5>Users Charts</h5>
            <hr>
            <div class="d-flex">
               <div class="canvas-container">
                  <canvas id="mydoughnutChart">
                  </canvas>
               </div>

               <div class="canvas-container">
                  <canvas id="multipleBarChart">
                  </canvas>
               </div>

            </div>
         </div>


      </div>
   </div>
   </div>
</section>


<script>
   $(document).ready(async () => {
      try {
         const response = await fetch('/admin/get-sales-data', {
            method: 'GET',
         });

         if (response.ok) {
            const fetchedData = await response.json();

            const todayOrders = document.getElementById('todayOrders')
            todayOrders.textContent = fetchedData.todayOrders;

            const thisMonth = document.getElementById('thisMonth')
            thisMonth.textContent = fetchedData.thismonthOrders;

            const thisYear = document.getElementById('thisYear')
            thisYear.textContent = fetchedData.yearlyOrders;

            const totalRevenue = document.getElementById('totalRevenue')
            totalRevenue.textContent = fetchedData.totalSalesPrice;

            const totalCustomers = document.getElementById('totalCustomers')
            totalCustomers.textContent = fetchedData.getTotalUsers;

            const totalProducts = document.getElementById('totalProducts')
            totalProducts.textContent = fetchedData.getTotalProducts;


            //function to create chart
            createChart(fetchedData.monthlyOrders);
            createSecondChart(fetchedData.usersArray);
            createThirdChart(fetchedData.monthlyRevenues)

         } else {
            console.error('Data fetch failed', response.status);
         }

      } catch (error) {
         console.error('Error:', error);
      }
   });


   function createChart(data) {

      const chartData = {
         labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
         datasets: [
            {
               label: 'Order Data',
               data: data,
               backgroundColor: 'rgba(75, 192, 192, 0.2)',
               borderColor: 'rgba(75, 192, 192, 1)',
               borderWidth: 1,
            },
         ],
      };


      const config = {
         type: 'bar',
         data: chartData,
         options: {
            scales: {
               y: {
                  beginAtZero: true,
               },
            },
         },
      };

      const canvas = document.getElementById('myChart');
      if (canvas) {
         const ctx = canvas.getContext('2d');
         new Chart(ctx, config);
      } else {
         console.error('Canvas element not found.');
      }
   }


   //this is second chart
   function createSecondChart(secondData) {

      const dynamicData = {
         labels: ['Today', 'This Month', 'This Year'],
         datasets: [{
            label: 'CarftX Users',
            data: secondData,
            backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)'],
            hoverOffset: 4,
         }]
      };


      const config = {
         type: 'doughnut',
         data: dynamicData,
         options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
               yAxes: [{
                  ticks: {
                     beginAtZero: true
                  }
               }]
            }
         }
      };

      const canvas = document.getElementById('mydoughnutChart');

      if (canvas) {
         const ctx = canvas.getContext('2d');
         new Chart(ctx, config);
      } else {
         console.error('Canvas element not found.');
      }
   }

   //this is third data

   function createThirdChart(monthlyRevenues) {

      const data = {
         labels: ["July", "August", "September", "October","November", "December"], // Use dynamic month labels
         datasets: [{
            label: 'Monthly Revenue',
            data: monthlyRevenues, 
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: 1
         }]
      };

      const config = {
         type: 'bar',
         data: data,
         options: {
            scales: {
               y: {
                  beginAtZero: true
               }
            }
         }
      };

      const canvas = document.getElementById('multipleBarChart');
      if (canvas) {
         const ctx = canvas.getContext('2d');
         new Chart(ctx, config);
      } else {
         console.error('Canvas element not found.');
      }
   }






</script>





<style>
   a {
      text-decoration: none;
      margin-left: 10px;
   }

   .smallbox {
      margin-left: 120px;
   }

   #todayOrders {
      margin-bottom: 10px;
   }

   #thisMonth {
      margin-top: 10px;

   }

   #thisYear {
      margin-top: 10px;
   }

   #multipleBarChart {
      width: 550px !important;
      height: auto !important;

   }
</style>