{{>admin-navbar}}


<section>

   <div class="container-fluid">
      <div class="row">


         {{>admin-left-menue}}

         <div class="col-md-8 " style="width: 1000px;">

            <section class="category d-flex mt-2">
               <div class="object-fit-contain mt-3" style="width: 100%;">
                  <div class="header d-flex justify-content-between">
                     <h3 class="h3 text-second fw-bold mb-3">DashBoard</h3>
                  </div>

                  <div class="d-flex mb-4">

                     <div class="card bg-success" style="width: 18rem; height: 8rem;">
                        <div class="card-body">
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of
                              the card's content.</p>
                        </div>
                     </div>
                     <div class="card bg-warning" style="width: 18rem; margin-left: 2rem;" >
                     
                        <div class="card-body">
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of
                              the card's content.</p>
                        </div>
                     </div>
                     <div class="card bg-primary" style="width: 18rem; margin-left: 2rem;">
                       
                        <div class="card-body">
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk
                              of
                              the card's content.</p>
                        </div>
                     </div>
                     <hr>

                  </div>

                  <div class="canvas-container">
                     <canvas id="myChart">

                     </canvas>
                  </div>

               </div>
            </section>
         </div>
      </div>
   </div>
   </div>
</section>


<script>
   const data = {
      labels: ['January', 'February', 'March', 'April', 'May','June','July','August','September','November','December'],
      datasets: [
         {
            label: 'Sample Data',
            data: [12, 19, 3, 5, 2,10,25,5,8,15,5,8],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
         },
      ],
   };

   const config = {
      type: 'bar',
      data: data,
      options: {
         scales: {
            y: {
               beginAtZero: true,
            },
         },
      },
   };

   const myChart = new Chart(document.getElementById('myChart'), config);

</script>




<style>
   a {
      text-decoration: none;
      margin-left: 10px;
   }
</style>