<section>
   <nav class="navbar navbar-expand-lg bg-primary-subtle">
      <div class="container-fluid" style="height: 50px;">
         <a class="navbar-brand" href="">CraftX</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> 
             <button class="btn btn-outline-success" type="submit" style="margin-right: 10px;">Search</button>
            </form> --}}
         </div>
      </div>
   </nav>
</section>