<div class="col-md-4" style="width: 250px; margin-top: 35px;">
    <div class="list-group">
        <li class="list-group-item"><a href="/admin/products"> 
            <i class="fa-solid fa-box-open side-bar-icon"></i>Products</a></li>
        <li class="list-group-item"><a href="/admin/customers"><i
                    class="fa-regular fa-user side-bar-icon"></i>Customers</a>
        </li>
        <li class="list-group-item"><a href=""><i class="fa-solid fa-cart-shopping side-bar-icon"></i>Orders</a>
        </li>
        <li class="list-group-item"><a href="/admin/category"><i
                    class="fa-solid fa-table-cells-large fa-custom-icon side-bar-icon"></i>Category</a></li>
        <li class="list-group-item"><a href="/admin/sales-report"> <i class="fa-solid fa-arrow-up-from-bracket side-bar-icon"
                    style="transform: rotate(90deg);"></i>Sales Report</a></li>
        <li class="list-group-item"><a href="/admin/coupons"><i class="fa-solid fa-money-bill-wave side-bar-icon"></i>Manage
                Coupon</a></li>
        <li class="list-group-item"><a href=""><i class="fa-solid fa-font-awesome side-bar-icon"></i>Banner
                Manage</a></li>
    </div>

    <div class="btn-container d-flex justify-content-center align-items-inline mt-5">
        <a href="logout" class="btn border-primary-subtle">Log Out</a>
        <a href="/admin" class="btn border-primary-subtle" style="margin-left: 40px;">Back</a>
    </div>
</div>
