<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4">Sign up</p>

                                <form class="mx-1 mx-md-4" id="myForm">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw mt-4"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Your Fullname</label>
                                            <input type="text" id="form3Example1c" class="form-control" name="name" />

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                            <input type="email" id="form3Example3c" class="form-control" name="email" />
                                            <p id="email-error" style="color: red;"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw mt-4"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">Password</label>
                                            <input type="password" id="form3Example4c" class="form-control"
                                                name="password" />

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4cd">Phone Number</label>
                                            <input type="text" id="form3Example4cd" class="form-control"
                                                name="number" />
                                            <p id="phonenum-error" style="color: red;"></p>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">

                                        <label class="form-check-label" for="form2Example3">
                                            alredy have an account ? <a href="http://localhost:3000/login">LogIn</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const form = document.querySelector('form')
    const emailError = document.getElementById('email-error');
    const phonenumError = document.getElementById('phonenum-error')


    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const fullname = form.name.value;
        const email = form.email.value;
        const password = form.password.value;
        const phonenumber = form.number.value;

        emailError.textContent = '';
        phonenumError.textContent = '';

        try {
            const response = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ fullname, email, password, phonenumber }),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await response.json();


            if (data.error) {
                if (data.error == 'Email Alredy Exists') {
                    emailError.textContent = data.error;
                    return;
                }
            }
            if (data.error) {
                if (data.error == 'Phone Number Alredy Exists') {
                    phonenumError.textContent = data.error;
                    return;
                }
            }

            if (data.userID) {
                location.assign('/signup/verify');
            }

        } catch (error) {
            console.error(error);
        }
    });

</script>