<section>
    <header>
        <!-- Jumbotron -->
        <div class="p-3 text-center bg-white border-bottom">
            <div class="container">
                <div class="row gy-3">
                    <!-- Left elements -->
                    <div class="col-lg-2 col-sm-4 col-4">
                        <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
                            <img src="" />

                        </a>

                    </div>
                    <!-- Left elements -->

                    <!-- Center elements -->
                    <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                        <div class="d-flex float-end">
                            <a href="/profile" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                                <i class="fas fa-user-alt m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Profile</p>
                            </a>

                            <a href="#" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                                    class="fas fa-heart m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Wishlist</p>
                            </a>

                            <a href="/my-cart" class="border rounded py-1 px-3 nav-link d-flex align-items-center">

                                <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">My cart</p>

                            </a>
                            <div>
                                <span class="badge" id="count-badge">{{getProductCount}}</span>
                            </div>

                        </div>

                    </div>


                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="input-group float-center">
                            <div class="form-outline">
                                <input type="search" id="form1" class="form-control" placeholder="Search" />

                            </div>
                            <button type="button" class="btn btn-primary shadow-0">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Jumbotron -->

        <!-- Heading -->
        {{!-- <div style="background-color: rgb(148, 243, 243);">
            <div class="container py-4">
                <!-- Breadcrumb -->
                <nav class="d-flex">
                    <h6 class="mb-0">
                        <a href="" class="text-dark-50">Home</a>
                        <span class="text-dark-50 mx-2"> > </span>
                        <a href="" class="text-dark-50">Library</a>
                        <span class="text-dark-50 mx-2"> > </span>
                        <a href="" class="text-dark"><u>Data</u></a>
                    </h6>
                </nav>
                <!-- Breadcrumb -->
            </div>
        </div> --}}
        <!-- Heading -->


    </header>
</section>





<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">


            {{>user-left-menue}}


            <div class="col-lg-8">
                <div class="card mb-4 rounded-4 border border-dark" id="details-container">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{userDetails.fullname}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{userDetails.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{userDetails.phonenumber}}</p>
                            </div>
                        </div>
                        <hr>

                        <button class="btn border border-primary edit-profile" style="margin-left: 280px"><a
                                href="/profile/update" class="update-btn">Update Details</a></button>
                    </div>
                </div>

                <hr>

            </div>

        </div>
    </div>
</section>

{{>user-footer}}


<style>
    .icon-container {
        display: flex;
        justify-content: space-between;
    }

    .edit-details {
        text-decoration: none;
        font-weight: bold;
    }

    .update-btn {
        text-decoration: none;
    }
</style>