{{>new-user-header}}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="d-flex">
                    <h3 class="mt-3 mb-3">Wallet History</h3>
                    <span style="margin-top: 5px;font-size: 40px; margin-left: 10px;color: green;">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </span>
                </div>

                {{#each getallData}}
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <span style="color: gold;font-size: 20px;"><i class="fa-solid fa-bell"></i></span>
                            <h5 class="card-title" style="margin-left: 20px;">{{this.transaction_title}}</h5>
                            <strong style="margin-left: 20px;">Date: {{this.date}}</strong>

                        </div>
                        <p class="card-text">{{this.transaction_des}}</p>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </div>
</section>

{{>new-user-footer}}